/* Style de la page de connexion. */

.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

/* Style de la page d'accueil. */

.mediaViewInfo {
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Web_1920__1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Web_1920__1 {
    position: absolute;
    width: 1603px;
    height: 1080px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Composant_1__1 {
    position: absolute;
    width: 1836px;
    height: 1190px;
    left: -108px;
    top: -110px;
    overflow: visible;
}

#Image_1 {
    position: absolute;
    width: 1710px;
    height: 918px;
    left: 0px;
    top: 272px;
    overflow: visible;
}

#Trac_3 {
    opacity: 0.54;
    fill: rgba(0, 0, 0, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Trac_3 {
    overflow: visible;
    position: absolute;
    width: 1620px;
    height: 918.439px;
    left: 90px;
    top: 271.561px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rectangle_1 {
    fill: rgba(143, 193, 42, 1);
    stroke: rgba(112, 112, 112, 0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Rectangle_1 {
    filter: drop-shadow(0px 50px 92px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 1896px;
    height: 589px;
    left: 90px;
    top: 0px;
}

#Trac_1 {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Trac_1 {
    filter: drop-shadow(0px 35px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 290.334px;
    height: 182.811px;
    left: 139.588px;
    top: 115.75px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#output-onlinepngtools {
    position: absolute;
    width: 191px;
    height: 191px;
    left: 174px;
    top: 108px;
    overflow: visible;
}

#Rectangle_4 {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Rectangle_4 {
    filter: drop-shadow(25px 25px 70px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 236.637px;
    height: 79.37099999999998px;
    left: 434.614px;
    top: 210.75px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 25px 25px 70px #00000029;
    border: 1px solid #707070;
    border-radius: 170px 0px;
}

#bin2 {
    position: absolute;
    width: 49.955px;
    height: 62.966px;
    left: 466.168px;
    top: 225.155px;
    overflow: visible;
}

#Groupe_2 {
    position: absolute;
    width: 84px;
    height: 38px;
    left: 518.678px;
    top: 231.927px;
    overflow: visible;
}

#Groupe_3 {
    position: absolute;
    width: 84px;
    height: 38px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Groupe_1 {
    position: absolute;
    width: 84px;
    height: 38px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Calendrier_Poubelle {
    left: 10px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: center;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(147, 169, 104, 1);
    letter-spacing: 0.12px;
}

#Rectangle_5 {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Rectangle_5 {
    position: absolute;
    width: 219.637px;
    height: 76.75px;
    left: 663.614px;
    top: 210.75px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 25px 25px 70px #00000029;
    border: 1px solid #707070;
    border-radius: 170px 0px;
}

#Actualits__ {
    left: 748px;
    top: 235px;
    position: absolute;
    overflow: visible;
    width: 81px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(147, 169, 104, 1);
    letter-spacing: 0.12px;
}

#paper2 {
    position: absolute;
    width: 54.106px;
    height: 54.181px;
    left: 693.735px;
    top: 221.845px;
    overflow: visible;
}

#Rectangle_6 {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Rectangle_6 {
    filter: drop-shadow(25px 25px 70px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 395.637px;
    height: 288.371px;
    left: 887.614px;
    top: 209.75px;
}

#Carte {
    left: 969px;
    top: 230px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(165, 183, 129, 1);
    letter-spacing: 0.12px;
}

#map2 {
    position: absolute;
    width: 46.289px;
    height: 56.547px;
    left: 922.711px;
    top: 222.654px;
    overflow: visible;
}

#Trac_2 {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Trac_2 {
    filter: drop-shadow(25px 132px 70px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 235.95299999999997px;
    height: 288.371px;
    left: 1108.614px;
    top: 103.75px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#speech2 {
    position: absolute;
    width: 50.466px;
    height: 42.974px;
    left: 1126.591px;
    top: 229.44px;
    overflow: visible;
}

#Commentaires {
    left: 1173px;
    top: 235px;
    position: absolute;
    overflow: visible;
    width: 139px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(165, 183, 129, 1);
    letter-spacing: 0.12px;
}

#profile2 {
    filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.161));
    position: absolute;
    width: 91px;
    height: 101px;
    left: 1593px;
    top: 127px;
    overflow: visible;
}

#bell2 {
    filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.161));
    position: absolute;
    width: 62px;
    height: 68px;
    left: 1531px;
    top: 130px;
    overflow: visible;
}

#Lorem_ipsum_dolor_sit_amet_con {
    left: 452px;
    top: 696px;
    position: absolute;
    overflow: visible;
    width: 933px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.12px;
}

#Lorem_Ipsum {
    left: 677px;
    top: 560px;
    position: absolute;
    overflow: visible;
    width: 483px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 82px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.12px;
}

#Rectangle_8 {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 893.953px;
    height: 38.286px;
    left: 446.614px;
    top: 133.773px;
}

#Rectangle_9 {
    fill: rgba(255, 228, 48, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 58.508px;
    height: 28.667px;
    left: 455.616px;
    top: 138.582px;
}

#sun2 {
    position: absolute;
    width: 37.934px;
    height: 31.309px;
    left: 466.168px;
    top: 137.261px;
    overflow: visible;
}

#Capture {
    opacity: 0.39;
    display: none;
    position: absolute;
    width: 1620px;
    height: 1010px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

/* Style de la carte */
body { margin: 0; padding: 0; }

#carte {
    position: sticky; margin: 15%; padding: 20em; 
}
#bar{
    position:absolute;
    background: #efefef;
    padding: 10px;

}
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

#menu {
    position: absolute;
    background: #efefef;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}
.search-container {
    position: absolute;
    background: #efefef;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

.marker {
    background-image: url('assets/mapbox-icon.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    }

.mapboxgl-popup {
    max-width: 200px;
    } 
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
